body {
    font: 100% / 1.414 "Open Sans", "Roboto", arial, sans-serif;
    background: #e9e9e9;
}

a,
[type="submit"] {
    -webkit-transition: all .25s ease-in;
    transition: all .25s ease-in;
}
nav{
    background: transparent !important;
}

.signup__container {
    width: 50rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    overflow: hidden;
    border-radius: 0.1875rem;
    -webkit-box-shadow: 0px 0.1875rem 0.4375rem rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0.1875rem 0.4375rem rgba(0, 0, 0, 0.25);
    background-color: #fff;
}

.signup__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.signup__thumbnail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    padding: 2rem;
    background-color: #fff;
}

.signup__form {
    padding: 2.5rem;
    background: #fff;
    margin-top: 50%;
}

.signup__link {
    font-size: .8rem;
    font-weight: 600;
    text-decoration: underline;
    color: #999;
}

.signup__link:focus, .signup__link:hover {
    color: #787878;
}

.login__form {
    margin-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.container__child {
    width: 50%;
    height: 100%;
    color: purple;
}

.thumbnail__logo,
.thumbnail__content,
.thumbnail__links {
    position: relative;
    z-index: 2;
}

.thumbnail__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: start;
    align-self: flex-start;
    -ms-flex-item-align: end;
    align-self: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.thumbnail__content {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.thumbnail__links {
    width: 100%;
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.thumbnail__links a {
    font-size: 1rem;
    color: #fff;
}

.thumbnail__links a:focus, .thumbnail__links a:hover {
    color: rgba(255, 255, 255, 0.5);
}

.logo__shape {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    fill: purple;
}

.logo__text {
    font-size: .8rem;
    font-weight: 700;
}

.heading--primary {
    font-size: 1.999rem;
}

.heading--secondary {
    font-size: 1.414rem;
}

label {
    font-size: .85rem;
    text-transform: uppercase;
    color: #ccc;
}

label.label_dateofbirth {
    float: left;
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

input#dateofbirth {
    margin-bottom: 4%;
    margin-left: 2%;
}

.form-control {
    background-color: transparent;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
}

.form-control:focus {
    border-color: #000;
}

[type="text"] {
    color: #000;
}

[type="password"] {
    color: #000;
}

.btn--form {
    width: 20rem;
    padding: .5rem 2.5rem;
    font-size: .95rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    background: #000;
    border-radius: 2.1875rem;
}

.btn--form:focus, .btn--form:hover {
    background: #212121;
}

.tbFindFriends {
    width: 25rem;
}

/*General navbar style & hide on scroll up transition*/
.navbar {
    background-color: #f7f7f7;
    -webkit-transition: top .2s;
    transition: top .2s;
    font-family: 'Manrope', sans-serif;
}

/*Individual items in navbar*/
.nav-item {
    padding-left: 20px;
    padding-right: 20px;
}

.nav-item__icon i {
    width: 26px;
    height: 21px;
    font-size: 35px;
}

/*Centering the navbar*/
.navbar-nav {
    margin-left: auto;
    margin-right: auto;
}

/*'External' icon in the navbar*/
.fa-external-link-alt {
    font-size: 10px;
    vertical-align: text-top;
}

#user_icon {
    width: 20px;
    height: 20px;
    background: #999;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 20px;
}

.navbar-sidebar {
    height: 100vh;
}

.nav__collections li img {
    width: 80px;
    height: 80px;
}

.add_collection_btn {
    border: none;
    background: transparent;
    width: 20px;
}

.add_collection_btn i {
    color: #000;
    font-size: 28px;
}

.add_collection_btn i:hover {
    cursor: pointer;
    color: #000;
}

/* #region COLLECTION MODAL */
/*modal-login*/
#login {
    width: 100%;
    height: 100%;
    padding: 12px;
    border: none;
    color: black;
    margin-bottom: 4px;
    cursor: pointer;
    font-size: 100%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal .sadrzajModalaLogin {
    background-color: #f4f4f4;
    line-height: 1.5em;
    margin: 20% auto;
    padding: 20px;
    width: 50%;
    -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    -webkit-animation-name: otvori;
    animation-name: otvori;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}

.modal .sadrzajModala a {
    color: #7CCD80;
    text-decoration: none;
}

.modal .sadrzajModala a:hover {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

#zatvoriModalCollections a:hover {
    background: #777;
}

.modal .sadrzajModala #zatvoriModalCollections {
    float: right;
    color: #ccc;
    font-size: 30px;
}

.modal .sadrzajModala #zatvoriModalCollections:hover, .modal .sadrzajModala #zatvoriLogin:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@-webkit-keyframes otvori {
    from {
        opacity: 0;
    }
    top {
        opacity: 1;
    }
}

@keyframes otvori {
    from {
        opacity: 0;
    }
    top {
        opacity: 1;
    }
}

a#zatvoriModalCollections {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    position: absolute;
    right: 0;
}

.modal__collection__header {
    position: relative;
}

/*#endregion */
.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/*
 * Sidebar
 */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    /* Behind the navbar */
    padding: 48px 0 0;
    /* Height of navbar */
    -webkit-box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.feather {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
 * Navbar
 */
.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
    border-color: transparent;
    -webkit-box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

/********* admin panel **************/
/* table details */
.menu_table thead {
    border-bottom: 20px solid #2b2b31;
}

.menu_table thead th {
    font-size: 17px !important;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 300;
    letter-spacing: 0.2px;
    padding: 0 15px 0 15px;
    line-height: 100%;
    margin-bottom: 0;
    border: none;
}

.menu_table tbody tr {
    background-color: #28282d;
    /*background-color: #344675;*/
    border-bottom: 10px solid #2b2b31;
}

.menu_table tbody td {
    padding: 15px;
}

.adminForm {
    background: white;
}

.adminFormWhite,
.adminForm {
    background: white;
    color: #000;
}

.adminIcons {
    font-size: 17px !important;
    margin: 3px;
}

.adminFormText {
    color: #fff;
}

.purple-border textarea {
    border: 1px solid #ba68c8;
    border-radius: 5px;
}

.purple-border .form-control:focus {
    border: 1px solid #ba68c8;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(186, 104, 200, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(186, 104, 200, 0.25);
}

.iconHS {
    font-size: 80px;
}

.ps__rail-y {
    height: 800px !important;
}

.menu_table__user,
.user_table__user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.menu_table__meta,
.user_table__meta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.menu_table__meta h3,
.user_table__meta h3 {
    color: #000;
    display: block;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 2px;
}

.user_table__meta h3 {
    color: #000;
}

.menu_table__meta span,
.user_table__meta span {
    font-family: 'Open Sans', sans-serif;
    /*color: rgba(255, 255, 255, 0.5);*/
    font-size: 14px;
}

.user_table__meta span {
    color: #000;
}

#ddlRolesUserUpdate > option {
    background: #fff;
    color: #000;
}

input.btn.btn-warning.btnSubmitA {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/** hide fields for insert **/
.add-type,
.add-price,
.add-navlink {
    display: none;
}

.main__table-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    font-size: 12px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.2px;
}

.main__table-text--green {
    color: #5bceae;
}

.main__table {
    width: 100%;
    min-width: 990px;
}

.main__table tbody tr {
    background-color: #28282d;
    border-bottom: 10px solid #2b2b31;
}

.main__table tbody td {
    padding: 15px;
}

.main__table td {
    margin: 0 auto !important;
    text-align: center;
}

.head__table {
    color: #fff;
    font-weight: bold;
    border-right: 1px solid #fff;
}

.form-check input[type="checkbox"] {
    opacity: 1 !important;
    visibility: visible !important;
}

/** added **/
.active {
    color: #0056b3!important;
    font-weight: bolder!important;
}
tr, td{
    text-align: center;
}
.table-sm td, .table-sm th{
    vertical-align: middle;
}

